<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Stocks - API Documentation</title>
</head>
<body>
  <h2>API Documentation</h2>

  <p>There are several API endpoints available to choose from:</p>
  
  <ul>
      <li>List of Stock Metadata - <a href="/api/v1/stocks">/api/v1/stocks</a></li>
      <li>Specific Stock Metadata - <a href="/api/v1/stocks/spy">/api/v1/stocks/spy</a></li>
      <li>All Stock Metrics for last 10 years - <a href="/api/v1/metrics">/api/v1/metrics</a></li>
      <li>Specific Stock Metrics for last 10 years - <a href="/api/v1/metrics/spy">/api/v1/metrics/spy</a></li>
  </ul>

  <p>Available tickers include:</p>
  <ul>
  {% for ticker in tickers %}
  <li>{{ ticker }}</li>
  {% endfor %}
  </ul>
</body>
</html>