<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Magic Stocks</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> -->

<!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<!-- <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> -->
<!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->


  <!-- Custom styles for this template -->
  <link href="../static/css/full-width-pics.css" rel="stylesheet">

  <!--  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index2.html">Magic Stock Model</a>
      <!-- <a class="nav-link" href="/index">Home</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index2.html">Home</a>
            <!-- <a class="nav-link" href="/index">Home</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="model.html">The Model</a>
            <!-- <a class="nav-link" href="/model">Home</a> -->
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="data.html">The Data
                <!-- <a class="nav-link" href="/team">Home</a> -->
                <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="team.html">The Team</a>
                <!-- <a class="nav-link" href="/team">Home</a> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Page Content -->
<div class="container">
<!-- Image -->
    <div class="row">
        <div class="col-md-3">
        <img class="img-fluid rounded mb-4" src="../static/img/04.jpg" alt="">
        <!-- <img class="img-fluid" src="{{ url_for('static', filename='img/01.jpg') }}"> -->
    </div>


    <!-- Reference code -- to be deleted -->
<!-- 
    <div class="container">
      <div class="row">
        <div class="col"> -->
          <!-- Rendering the style=height of the map is required for it to display correctly -->
          <!-- <div id="map" style="height:400px;"></div>
        </div>
      </div>
    </div> -->

  <!-- <div class="row">
    <div id="plot"></div>
    <script type="text/javascript" src="static/js/config.js"></script>
  <script type="text/javascript" src="static/js/plots.js"></script> -->


<!-- <div id="map"></div>
  <script type="text/javascript" src="static/js/config.js"></script>
  <script type="text/javascript" src="static/js/logic.js"></script> -->

  <form class="form-inline">
    <div class="form-group">
      <label for="stockInput">Stock</label>
      <!-- input is a signifier that we're taking information from the user -->
      <!-- placeholder = what the user will see when they see the empty box
      gives direction for what the user's input needs to be -->
      <input type="text" class="form-control" id="stockInput" placeholder="Enter a stock">
    </div>
    <!-- can change the way the buttons look using type and class 
    if there were numerous buttons, would be better to style these using css -->
    <button id="submit" type="submit" class="btn btn-default">Plot Stock</button>
  </form>

  <div id="plot"></div>
  <!-- make sure BEFORE the plots.js -- order matters -->
  <!-- <script src="config.js"></script> -->
  <!-- src="{{ url_for('static', filename='js/config.js') }}"> -->
  <script src="../static/js/plots.js"></script>
  <!-- src="{{ url_for('static', filename='js/logic.js) }}'" -->

<!-- option of CORS proxy explained here
https://stackoverflow.com/questions/43262121/trying-to-use-fetch-and-pass-in-mode-no-cors/43268098 -->
  
</div>


</div>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Jade, Tim, & Jodi</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
  <script src="../static/js/jquery.min.js"></script>
  <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <script src="../static/js/bootstrap.bundle.min.js"></script>


</body>

</html>
