{% extends "layout.html" %}
{% block content %}
        <div class="container">
            <h2>Analyzing the Stocks</h2>
            <!-- Image -->
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <img class="img-fluid" src="/static/img/04.jpg">
                    <h6>Want to know more about the <a href="https://en.wikipedia.org/wiki/Charging_Bull" target="_blank">Charging Bull</a> statue?</h6>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div id="plot"><img src="{{ url_for('static', filename='img/plot.png') }}"/></div>
                </div>
            </div>
            <!-- Dropdown -->
            <!-- code source: https://www.codebyamir.com/blog/populate-a-select-dropdown-list-with-json -->
            <div class="row">
                <div class="form-group col-md-3 col-sm-12">
                    <p></p>
                    <select id="locality-dropdown" class="form-control">
                        <option selected>Choose...</option>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <!-- Open checkbox -->
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="open_amt">
                        <label class="form-check-label" for="open_amt">Open</label>
                    </div>
                </div>
                <!-- High Index -->
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="high">
                        <label class="form-check-label" for="high">Daily High</label>
                    </div>
                </div>
                <!-- Low -->
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="low">
                        <label class="form-check-label" for="low">Daily Low</label>
                    </div>
                </div>
                <!-- Adjusted Close -->
                <div class="col-md-3">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="adj_close">
                        <label class="form-check-label" for="adj_close">Adjusted Close</label>
                    </div>
                </div>
            </div>
            <div class="row">
               <!-- Relative Strength Index -->
               <div class="col-md-3">
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="rsi">
                      <label class="form-check-label" for="rsi">Relative Strength Index (RSI)</label>
                  </div>
              </div>
               <!-- Simple Moving Averages checkbox -->
               <div class="col-md-3">
                   <div class="form-group form-check">
                       <input type="checkbox" class="form-check-input" id="sma">
                       <label class="form-check-label" for="sma">Simple Moving Averages (SMA)</label>
                   </div>
               </div>
               <!-- Volume -->
               <div class="col-md-3">
                   <div class="form-group form-check">
                       <input type="checkbox" class="form-check-input" id="volume">
                       <label class="form-check-label" for="volume">Daily Volume</label>
                   </div>
               </div>
               <!-- Next Day Close -->
               <div class="col-md-3">
                   <div class="form-group form-check">
                       <input type="checkbox" class="form-check-input" id="next_close">
                       <label class="form-check-label" for="next_close">Next Day Close</label>
                   </div>
               </div>
           </div>
           <div class="row">
            <!-- Rate of Change -->
            <div class="col-md-3">
               <div class="form-group form-check">
                   <input type="checkbox" class="form-check-input" id="roc">
                   <label class="form-check-label" for="roc">Rate of Change (ROC)</label>
               </div>
           </div>
            <!-- Slow D -->
            <div class="col-md-3">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="slowd">
                    <label class="form-check-label" for="slowd">STOCH (slowd)</label>
                </div>
            </div>
            <!-- Slow K -->
            <div class="col-md-3">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="slowk">
                    <label class="form-check-label" for="slowk">STOCH (slowk)</label>
                </div>
            </div>
            <!-- Willims %R -->
            <div class="col-md-3">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="willr">
                    <label class="form-check-label" for="willr">Williams %R (WILLR)</label>
                </div>
            </div>
        </div>
            <!-- Update plot and prediction buttons -->
            <div class="row">
                <div class="col-md-3">
                    <p>
                        <button type="button" id="updatePlot" class="btn btn-primary btn-sm">Update Plot</button>&nbsp;&nbsp;<button type="button" id="predictPlot" class="btn btn-secondary btn-sm">Predict</button>
                    </p>
                </div>
            </div>
        </div>
{% endblock content %}