{% extends "layout.html" %}
{% block content %}
        <header class="py-5 bg-image-full" style="background-image: url(../static/img/01.jpg);">
            <div style="height: 200px;"></div>
        </header>
        <!-- Content section -->
        <section class="py-5">
            <div class="container">
                <h4>Magic Stock Predictions with Machine Learning?</h4>
                <p class="lead">There's a lot of anxiety in life right now, and understandably so. We want to take the stress out of stock buying by creating the best machine learning model so you can simply choose your ticker and decide if you should buy the stock. This model will use current data - so it can be trusted! Of course, please remember that we are simply data scientists crafting our machine learning capabilities and not endorsing any specific stocks or brokerages. Please tinker with the predictions and let us know what you think.</p>
            </div>
        </section>
        <!-- Second Image -->
        <div class="py-5 bg-image-full" style="background-image: url(../static/img/02.jpg);">
            <div style="height: 200px;"></div>
        </div>
        <p></p>
{% endblock content %}
