{% extends "layout.html" %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/03.jpg') }}" alt="The Team Intro Pic">
                </div>
                <div class="col-md-6">
                    <h2>A Little About Our Team</h2>
                    <p>Even though we met only six months ago, we have gone through the fires that high volumes of new knowledge and applied learning produce. The three of us enrolled into a six-month on-campus data analytics bootcamp, but were just as surprised as you that it became fully virtual mid-March. We have learned everything from site scraping, extraction, database creation, data modeling, and machine learning predictive models -- all through various languages such as Python, JavaScript, and HTML/CSS/Bootstrap, just to name a few. A couple of us are up for hire, so if you like what you see, please send us an email and we'd be eager to connect with you.</p>
                </div>
            </div>
            <!-- Team Members -->
            <h2>Our Team</h2>
            <div class="row">
                <div class="col-md-4 col-sm-12 mb-4">
                    <div class="card h-100 text-center">
                        <div class="card-body">
                            <h4 class="card-title">Jade</h4>
                            <img src="{{ url_for('static', filename='img/jade.png') }}" width="150px" class="rounded-circle" alt="Jade Profile Picture"/>
                            <p class="card-text">She knows stats and data analysis like brokers know how to trade.</p>
                        </div>
                        <div class="card-footer">
                           <a href="mailto:jade.tao1998@gmail.com" target="_blank">jade.tao1998@gmail.com</a> | <a href="https://www.linkedin.com/in/" target="_blank"><img src="{{ url_for('static', filename='img/linkedin.svg') }}" width="20px"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mb-4">
                    <div class="card h-100 text-center">
                        <div class="card-body">
                            <h4 class="card-title">Jodi</h4>
                            <img src="{{ url_for('static', filename='img/jodi.jfif') }}" width="150px" class="rounded-circle" alt="Jodi Profile Picture"/>
                            <p class="card-text">She's read half of one book on investments and now feels like an expert, so...yeah.</p>
                        </div>
                        <div class="card-footer">
                           <a href="mailto:jodilynnheen@gmail.com" target="_blank">jodilynnheen@gmail.com</a> | <a href="https://www.linkedin.com/in/jodilh/" target="_blank"><img src="{{ url_for('static', filename='img/linkedin.svg') }}" width="20px"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mb-4">
                  <div class="card h-100 text-center">
                      <div class="card-body">
                          <h4 class="card-title">Tim</h4>
                          <img src="{{ url_for('static', filename='img/tim.jpg') }}" width="150px" class="rounded-circle"  alt="Tim Profile Picture"/>
                          <!-- <h6 class="card-subtitle mb-2 text-muted">Position</h6> -->
                          <p class="card-text">A boss on the keys - and I don't mean the ivories.</p>
                      </div>
                      <div class="card-footer">
                          <a href="mailto:lucas.timothy@icloud.com" target="_blank">lucas.timothy@icloud.com</a> | <a href="https://www.linkedin.com/in/lucas-timothy/" target="_blank"><img src="{{ url_for('static', filename='img/linkedin.svg') }}" width="20px"></a>
                      </div>
                  </div>
              </div>
            </div>
        </div>
  {% endblock content %}